################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ScrapySharp/ScrapySharp.Console/bin/Debug/net6.0
/ScrapySharp/ScrapySharp.Console/obj
/ScrapySharp/.vs/ScrapySharp/v17
